p{
  text-align:justify;
}

.italic {
   font-style: italic;
 }
 
#ECDI-slider{
  background: url("../img/we_know_you_can_do_it.jpg") no-repeat;
  background-size: 100vw auto;
  background-position: center top;
  padding: calc(100vw * 0.24) 0 calc(100vw * 0.24) 0;
  position: relative;
}

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.justify-text{
    text-align:justify;
}
.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

.feature{
    min-height: 300px;
}

#feature {
    padding:200px 0px;
}

.section-title p {
    font-style: normal;
    text-align: justify;
}

#feature .btn-call-to-action {
  padding: 15px 35px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  color: #333333;
  margin-top: 30px;
}
#feature .block{
    text-align: center;
}

#slider{
    background-position: 10% 50%;
}

#features .features-item h1,
#features .features-item h2,
#features .features-item h3,
#features .features-item h4,
#features .features-item h5,
#features .features-item h6{
    text-align:center;
    color: #0AB5DD;
}

#features .features-item{
    text-align:justify;
}

#team{
    padding-top:100px;
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }