<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#join-us">Join us</a></li>
          </ul>
        </div>
         <p>Copyright &copy; 2017 Uporter. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution="setup_tool"
  page_id="405792943129310"
  theme_color="#0084ff"
  logged_in_greeting="Hi there! If you have ideas to share or questions to ask, let's chat! "
  logged_out_greeting="Hi there! If you have ideas to share or questions to ask, let's chat! ">
</div>
