<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#join-us">Join us</a></li>
            <li><a href="#fund-us">Fund us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
