<section id="join-us">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Join us</h2>
            </div>
        </div>
    </div>
</section>
{% assign components=site.join_us | where:"lang", page.lang | sort: "sort_order" %}
<section>
    <div class="container">
        <div class="row">
            {% for component in components  %}
            {% if component.title==="Subscribe" %}
            {% else %}
            <div class="col-xs-12">
                <div class="block">
                    <div class="section-title">
                        <div>{{ component.content }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
