<section id="join-us">
    <div class="container">
        <div class="row">
            {% assign components=site.join_us | where:"lang", page.lang | sort: "sort_order" %}
            {% for component in components  %}
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <div>{{ component.content }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
