<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% assign components=site.team | where:"lang", page.lang | sort: "sort_order" %}
                {% for component in components %}
                <div class="col-xs-12 col-md-12 teamer">
                    <div class="col-xs-12 col-sm-2">
                        <img class="img-responsive" src="{{site.baseurl}}{{component.img_root}}{{component.image}}">
                    </div>
                    <div class="features-item col-xs-12 col-sm-10">
                        <p>{{ component.content }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</section>
